body{
    font-family: "Roboto", sans-serif;
    background-color: #020203;
}

h2, h3, p{
    color: white;
}

h3 {
    font-size: xx-large;
    font-weight: 700;
}

p{
    font-weight: 200;
}

b{
    color: #3188FC;
}

.header{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.description{
    text-align: center;
}


.title{
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    color: #3188FC;
}


.container{
    width: 75%;
    margin: auto;
}

#portafolio{
    display: flex;
    align-items: center;
}

#portafolio img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5px;
}

/*Img preview*/

#img-preview{
    display: flex;
    justify-content: center;
}

#preview{
    margin-top: 2rem;
    border-radius: 0.75rem;
    width: 75%;
    height: 20rem;
    margin: 0px auto;
    margin-top: 2rem;
}